.general-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
.home-container {
  display: flex;
  flex-direction: column;
}

.text {
  color: white;
  font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}

#someinput {
  background: #0a0a0a;
  color: #acacac;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 4px;
  width: 320px;
  height: 44px;
  padding-left: 15px;
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

#someinput::placeholder {
  color: #acacac;
}

#someinput:focus {
  outline: none;
}
