.general-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result-top-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #0a0a0a;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 4px;
  width: 548px;
  height: 277px;
  margin-top: 166px;
}
.result-top-container-logo {
  width: 112px;
  height: 112px;
  border-radius: 100%;
  display: flex;
  position: relative;
  top: -56px;
  background: #222222;
}
.result-top-container-right {
  display: flex;
  position: absolute;
}
.result-view-on-github {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-right: 6.6px;
  color: #e5e5e5;
}

.result-top-container-informations {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-right: 12px;
}

.result-top-container-name {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  position: relative;
  margin-top: -30px;
}
.result-top-container-username {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.load-more-button {
  background: #0da090;
  border: 1px solid #72f2e4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 548px;
  height: 44px;
  margin-top: 25px;
}

.load-more-button-p {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
}

.result-repository-container {
  width: 548px;
  height: 91px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background: #0a0a0a;
  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 4px;
}

.result-repository-container:hover {
  background: white;
}
.result-repository-container:hover .result-repository-container-name {
  color: #0a0a0a;

  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.result-repository-container:hover .result-repository-stars {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  color: #0a0a0a;
}
.result-repository-headline {
  width: 126px;
  height: 17px;
  margin-bottom: 17px;
  margin-top: 30px;
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /*width: 130px;
  height: 24px;
  yazı ile farklı */

  color: #ffffff;
}

.result-repository-container-name {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
}
.result-repository-container-description {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #acacac;
}

.result-repository-stars {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.result-repository-stars-word {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  position: relative;
  margin-top: -7px;
  color: #acacac;
}

.information-number {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  color: #ffffff;
  text-align: center;
  position: relative;
  bottom: -30px;
}

.information-headline {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #acacac;
  text-align: center;
  position: relative;
  bottom: -20px;
}

.error-container {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 78px;
  background: #842323;
  border: 1px solid #cb7474;
  box-sizing: border-box;
  border-radius: 4px;
}

.error-container-para {
  font-family: "Roboto", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  width: 89.5%;
  color: #ffffff;
}
